body {
	width: 80%;
	margin: auto;
	padding: 0;
}

#header {
	position:relative;

	background-color: #A00;
	height: 6em;
	border-radius: 1em 1em 0 0;

	box-shadow:0 0 0.5em 0.2em #ccc;
	
	background: #feffff;
	background: linear-gradient(to bottom, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
}

#logo {
	float: left;
}

#logo img {
	margin: 10px 10px 10px 10px;
	height: 80px;
	width: auto;
}

#header h1 {

	float: center;
	position: relative;
	text-align: center;
	font-size: 5em;
}

#eventchooser {
	z-index: 100;
	width: 200px;
	position: absolute;
	right: 0.5em;
	bottom: 0px;
	border-radius: 4px;
	height: 1.15em;
}

#eventlist {
	position:absolute;
	bottom:0;
	right:0;
	width:7em;
}

#content-wrapper {
	width: 100%;
	background: #999;
	overflow: auto;
}

#sidemenu {
	width: 15%;
	float: left;
	text-align: left;
	padding-right: 10px;
	border-right: solid 1px;
	height: 100%;
	display:inline-block;
}

#menulist {
	display:inline-block;
}

#content {
	float: right;
	text-align: left;
	width: 80%;
	margin-left: 20px;
	height: 100%;
	display: inline-block;
}

.footer {
	bottom: 0px;
	border-top: solid 1px;
	width: 100%;
	margin: 0px 0px 0px 0px;
	clear: both;
}

.footer, .header {
	position: relative;
}
