html{
	background-image:url(backdrop.png);
}

body {
	width:80%;
	margin:auto;
	padding:0;
}

#header {
	margin-top:2em;
	position:relative;
	background-color: #a00;
	border-radius: 1em 1em 0 0;
	background: #feffff;
	background: linear-gradient(to bottom, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
	z-index:1;
}

#header, #content-wrapper{
	box-shadow:0 -0.1em 0.5em 0.2em #ccc;
}

#head-logo {
	display:inline-block;
	height:5em;
	padding:0.5em;
}

#header h1 {
	color:#666;
	font-size:5em;
	padding:0;
	margin:0;
	display:inline-block;
	vertical-align:top;
	font-style:italic;
}

#footer{
	margin-top:0.2em;
	text-align:center;
	color:#aaa;
}

#eventlist {
	position:absolute;
	bottom:0;
	right:0;
	width:7em;
	margin-right:1em;
}

#content-wrapper{
	background-color:#a0d8ef;
}

#menu-section{
	padding:1em;
	width:15%;
	display:inline-block;
	vertical-align:top;
}

#menu-section .menu{
	padding:0 0 0 2em;
	margin:0;
}

#content{
	padding:1em;
	width:65%;
	display:inline-block;
	vertical-align:top;
}